@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #333;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* entire site inside this div */
.site-container {
  height: 90%;
  margin: 32px auto;
  width: 80%;
  text-align: center;
}

/* the navigation bar along with responsiveness */
.nav-container {
  display: flex;
  background-color: #fff;
  justify-content: flex-end;
  position: fixed;
  width: 80%;
  top: 0;
  padding: 1.1em 0;
  z-index: 5;
  left: 50%;
  transform: translate(-50%, 0);
}

.nav-container img {
  align-self: flex-end;
  /* position: fixed;
  top: 5%;
  right: 10%; */
}

.hide-mobile {
  display: none;
}

/* the header with name and icons */
.header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 6em;
}

.header-name {
  margin-bottom: 0.75em;
}

/* icons below name in header */
.icon-container > li {
  display: inline;
}

.icon-container img {
  cursor: pointer;
  width: 8%;
}

.icon-container li:last-child {
  margin-left: 1.5em;
}

/* the word animation container */
.cycling-word-container {
  display: flex;
  justify-content: center;
  margin-top: 8em;
  flex-direction: column;
}

.i-am {
  align-self: center;
}

.cycling-word {
  align-self: center;
  color: #8685ef;
  position: relative;
  width: 100%;
}

.cycling-word span {
  text-align: center;
  width: 100%;
  position: absolute;
  overflow: hidden;
  right: 0%;
  animation: animate 10s linear infinite;
  opacity: 0;
}

.cycling-word span:nth-child(1) {
  animation-delay: 0s;
}

.cycling-word span:nth-child(2) {
  animation-delay: 2s;
}

.cycling-word span:nth-child(3) {
  animation-delay: 4s;
}

.cycling-word span:nth-child(4) {
  animation-delay: 6s;
}

.cycling-word span:nth-child(5) {
  animation-delay: 8s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  2% {
    opacity: 1;
    transform: translateX(0px);
  }
  18% {
    opacity: 1;
    transform: translateX(0px);
  }
  20% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 0;
    transform: translateX(50px);
  }
}

/* quote beneath the word animation */
.quote-container {
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 12em;
}

.quote {
  align-self: left;
}

.quote-cite {
  margin-top: 1em;
  align-self: flex-end;
}

/* about me section */
.about-container {
  margin-top: 6em;
}

/* anything to do with headers */
.header {
  position: relative;
}

/* decorative header line */
.header:after {
  content: '';
  width: 100%;
  border-bottom: solid 1px #333;
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 1;
}

.header-text {
  background-color: #fff; /* Same as the parents Background */
  color: #8685ef;
  width: auto;
  display: inline-block;
  padding: 0 0.6em;
  z-index: 2;
  position: relative;
}

.about-text {
  margin-top: 4em;
}

.skills-container {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-icon-container {
  flex-basis: 25%;
  align-self: center;
  margin: 1em 0;
}

.project-container {
  margin-top: 6em;
}

.project-item {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.project-title {
  font-size: 1.3em;
  font-weight: bold;
}

.project-item img {
  margin-top: 1em;
  max-width: 100%;
  width: 100%;
  border: 1px solid #333;
}

.project-item p {
  margin-top: 1em;
}

.project-links {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}

.button {
  cursor: pointer;
  font-weight: bold;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  width: 40%;
  margin: 0 auto;
}

.project-button {
  color: #8685ef;
  border: 2px solid #8685ef;
}

.project-button-alt {
  color: #fff;
  border: none;
  background-color: #8685ef;
}
